html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}


.first-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 1.2em;
}

.skyblue {
  color:skyblue;
  }

.pink {
  color:rgb(255, 192, 203);
  }

  hr {
    border-top: 3px solid rgb(115, 115, 114)
  }

#basic {
  font-weight: bold;
  }