h1{
  margin: 0;
}

p{
  margin: 0;
}

body{
  margin: 0;
}

header{
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

h1{
  color: rgb(255, 255, 255);
}

main{
  margin: 10px;
}

#parent{
  display: flex;
  justify-content: space-around;

}

.contents{
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px 10px 15px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

h2{
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before{
  content: "â—";
  color: rgb(239, 111, 139);
}

div p:nth-child(3)::first-letter{
  color: rgb(97, 206, 249);
  font-weight: bold;
}

.contents > img{
  margin: 10px 0px 10px 0px;
  width: 70%;
}

footer{
  background-color: rgb(244, 79, 79);
  text-align: center;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color:rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  h2{
    font-size: 30px;
  }
  
  p{
    font-size: 25px;
  }
  
  #parent {
    display: block;
}
}
